.details-info {
  .name {
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
  }
  .release-date {
    font-size: 12px;
  }
}

.details-rating {
  .vote-count {
    display: block;
    font-size: 10px;
  }
  .genre {
    font-size: 14px;
    padding-right: 10px;
  }
}
