<p>
  Everyone should use YBMs instead of IMDb, because here we don't care about your money. We won't show adds, we hate alerts and spams.
</p>

<p>
  I'm medium/advanced front-end developer, and the challenge found in this test was do it in a short period of time, after work all day in my current job.
  Probably there are some bugs, because I couldn't cover all the test cases.
</p>

Made with <i class="fa fa-heart" style="color: red"></i> by <a href="https://github.com/FelipeCorso">Felipe Corso</a>
