<p-tabView (onChange)="onTabChange($event)">
  <p-tabPanel header="Movies">
    <ng-container [ngTemplateOutlet]="listItems"></ng-container>
  </p-tabPanel>
  <p-tabPanel header="Series">
    <ng-container [ngTemplateOutlet]="listItems"></ng-container>
  </p-tabPanel>
</p-tabView>

<ng-template #listItems>
  <p-dropdown [options]="filters" [(ngModel)]="selectedFilter" placeholder="Filter by"
              (onChange)="onFilterChange($event)"></p-dropdown>
  <list-movies-series [mediaType]="activeTabView" [(items)]="item.results"></list-movies-series>
  <p-paginator [rows]="20" *ngIf="item?.results?.length"
               [totalRecords]="item?.total_results"
               (onPageChange)="onPageChange($event)"></p-paginator>
</ng-template>
